<section>
    <div class="validacao">
        <form action="/validacao" method="post">
            <div class="col-input">
                <div>
                    <label for="idEmail">Email</label>
                    <input type="email" name="txtEmail" id="idEmail" required>
                </div>
            </div>
            <div class="col-input">
                <div>
                    <label for="idSenha">Password</label>
                    <input type="password" name="txtSenha" id="idSenha" required
                        title="A senha precisa ter pelo menos uma letra, um número e um caracter especial">
                </div>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</section>